*{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
.App {
  margin: 0;

}
body::-webkit-scrollbar{
  display: none;
}
.main {
  /* background-image: url("./images/pic.jpg"); */
  background-color:#ffffff;
  background-attachment: fixed;
  background-position: center;
}

.loader_main {
  background-image: url("./images/color.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.App-header {
  min-height: 100vh;
  min-width: 100%;
  color: rgb(57, 57, 57);
}


.app-design {
  background: rgb(255, 255, 255);
  min-height: 100vh;
  min-width: 100%;
  color: rgb(0, 0, 0);
}


.container {
  background-color: black;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: #fff;
  position: fixed;
  position: sticky;
  z-index: 9;
  top: 0px;
  padding: 0 70px;
}

.side{
  width: 60px;
  height: 100vh;
  background-color:rgb(255, 0, 0);
  color: white;
  position: sticky;
  position: fixed;
  left: 0;
  z-index: 9;
}

.active{
  color:rgb(48, 47, 47);
  background-color:#fff
}


.design-header {
  background-color: rgb(1, 1, 51);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
}


.design-header h3{
 margin-left: 20px;
 cursor: pointer;
 color: rgb(255, 255, 255);
  }

.design-box {
  border: double;
  border-radius: 0 40px;
  height: 300px;
}

.btn {
  display: inline-block;
  background: rgb(255, 0, 0);
  color: #fff;
  border: none;
  padding: 10px 25px;
  margin: 40px 530px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}


.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
    background-image: url("./images/eight.jpg");
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about {
    width: 600px;
    max-height: 600px;
    margin: 0px;
    padding: 10px 20px;
    border: 10px;
}

.design {
    max-width: 100%;
    margin: 30px 100px;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    display: flex;
  }



.design-web {
   background-image: url("./images/web1.jpg");
    cursor: pointer;
    border: double;
    border-radius: 0 20px;
    color: white;
  
  }

  .design-graph {
     background-image: url("./images/graphic.jpg");
     cursor: pointer;
     border: double;
     border-radius: 0 20px;
     color: white;
   
  }

  .design-lyrics {
     background-image: url("./images/lyrics.jpg");
     cursor: pointer;
     border: double;
     border-radius: 0 20px;
     color: white;
   
  }

  .design-art {
     background-image: url("./images/paper1.jpg");
    cursor: pointer;
    border: double;
    border-radius: 0 20px;
    color: white;
  
  }

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}




.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.view-btn{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    font-size: xx-large;
    color: red;   
}
.view-btn:hover{
  color: rgb(34, 255, 0); 
  font-weight: bold; 
   
}
.skills{
  margin: 20px 0 10px 0;
}
.slider{
  min-width: 100%;
  min-height: 800px;
}
/* .spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} */





/* slider css */


.slider{
  display: flex;
  /* position: absolute; */
  left: 0;
  transition: all 1s ease-out;
}

.container{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item{
  height: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-container{
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*.works{
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
 






.item .left{
  flex: 4;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left .leftcontainer{
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right{
  flex: 8;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}  */


textarea{
  border: solid 1px;
}